@page
@model CarBookingApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Cars</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Cars[0].Year)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn  btn-warning" asp-page="./Update" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <form asp-page-handler="delete" asp-route-carid="@item.Id" method="post" class="form-inline">
                    <button class="btn btn-danger"
                        onclick="return confirm('Are you sure you wan to delete this record?')"
                        >Delete</button>
                </form>
                @*<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
